@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

html{
    font-size: 63%;
}

body{
    background: black;
    padding-left: 28rem;
}

/**********************************Side Bar Start***************************************/
header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    padding: 5rem 2rem;
    z-index: 100;
    width: 22rem;
    text-align: center;
    transition: 0.5s ease-in-out;

}

header .logo{
    text-transform: uppercase;
    color: white;
    font-size: 4rem ;
    font-weight: bolder;
    text-decoration: none ;
}

header .logo span{
    color:#00ccff ;
    text-transform: uppercase;
}

header .navbar a{
    display: block;
    font-size: 2rem;
    color: white;
    margin: 3rem 0;
    text-decoration: none;
    transition: 0.5s;
}

header .navbar a:hover{
    /*letter-spacing: .2rem;*/
    transform: scale(1.2);
    color: #00ccff;

}


header .sci a{
    font-size: 2.5rem;
    color: white;
    margin: 0.7rem;
}

header .sci a:hover{
    color: #00ccff;
    transition: 0.3s;

}

#menu-bars{
    position: fixed;
    top: 1rem;
    right: 1rem;
    color: white;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 4rem;
    display: none;
    z-index: 10;
    cursor: pointer;
    
}
/***********************************Side Bar End************************************/

/***********************************Blog Start***************************************************/

.design
{
    position: relative;
    width: 100%;
    height: 805vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.design .contentBx{
    width: 95%;
    z-index: 1 ;
    position: center;
    background: #000000c3;
    padding: 2rem;

   
}

.design .contentBx h2{
    color: white;
    text-align: center;
    font-size: 4rem;
}

.design .contentBx span{
    color: #00ccff;
}



.design .contentBx article{
    font-size: 1.8rem;
    color: white;
    text-align: left;
    

    font-weight: 400;
   

}









#backgroundImg{
     /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.design .contentBx .btn .blogBtn:hover{
    transform: scale(1.15);
    border: 1px solid #00ccff
}

.design .contentBx .wireframe1{

    width: 600px;
    height: 800px;
    align-items: center;
    margin-left: 200px;
}

.design .contentBx .wireframe2{

    width: 600px;
    height: 800px;
    align-items: center;
    margin-left: 200px;
}

.design .contentBx .wireframe3{

    width: 600px;
    height: 800px;
    align-items: center;
    margin-left: 200px;
}

.design .contentBx .wireframe4{

    width: 600px;
    height: 800px;
    align-items: center;
    margin-left: 200px;
}

.design .contentBx .wireframe5{

    width: 600px;
    height: 800px;
    align-items: center;
    margin-left: 200px;
}

/********************************************Design End********************************************************/
