@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

html{
    font-size: 63%;
}

body{
    background: black;
    padding-left: 30rem;
}

/**********************************Side Bar Start***************************************/
header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    padding: 5rem 2rem;
    z-index: 100;
    width: 25rem;
    text-align: center;
    transition: 0.5s ease-in-out;

}

header .logo{
    text-transform: uppercase;
    color: white;
    font-size: 4rem ;
    font-weight: bolder;
    text-decoration: none ;
}

header .logo span{
    color:#00ccff ;
    text-transform: uppercase;
}

header .navbar a{
    display: block;
    font-size: 2rem;
    color: white;
    margin: 3rem 0;
    text-decoration: none;
    transition: 0.5s;
}

header .navbar a:hover{
    /*letter-spacing: .2rem;*/
    transform: scale(1.2);
    color: #00ccff;

}


header .sci a{
    font-size: 2.5rem;
    color: white;
    margin: 0.7rem;
}

header .sci a:hover{
    color: #00ccff;
    transition: 0.3s;

}

#menu-bars{
    position: fixed;
    top: 1rem;
    right: 1rem;
    color: white;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 4rem;
    display: none;
    z-index: 100000;
    cursor: pointer;
    
}

/*********************************************Side End**********************************************************/
/*********************************************Home Start********************************************************/

.home{
    position: relative;
    width: 100%;
    height: 100vh;
}


.home .cover{
    position: absolute ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .contentBx{

    position: absolute;
    top: 18%;
    left: 4%;
    text-align: center;

}


.home .contentBx p{
    font-size: 2.5rem;
    color: white;

}
.home .contentBx h1{
    font-size: 5rem;
    color: white;
    text-transform: uppercase;

}
.home .contentBx h1 span{
    color: #00ccff;
    text-transform: uppercase;

}

.home .contentBx h4{
    font-size: 2rem;
    padding-right: 210px;
    color: white;
    

}
.home .contentBx h4 span{
    /*font-size: 2rem;
    color: #00ccff;*/

    position: absolute;
    font-size: 2.7rem;
    left: 220px;
    top: 175px;
    color: #3638396f;
    -webkit-text-stroke: 1px #383d5272;
    text-transform: uppercase;
    white-space : nowrap;
}

.home .contentBx h4 span::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0px;
    width: 0%;
    height: 100%;
    color: #00ccff;
    -webkit-text-stroke: 0 #383d52;
    border-right: 2px solid #00ccff;
    overflow: hidden;
    animation: animate1 6s linear infinite;
}

@keyframes animate1{

    0%,12%,100%
    {
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
  
}

.home .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #00ccff;
    margin-top: 20px;
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.4s;
}

.home .contentBx a:hover{
    transform: scale(1.15);
}


/***********************************************Home End*****************************************************/

/**********************************************About Start***************************************************/

.about
{
    position: relative;
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

}

.about .contentBx{
    width: 65%;
    z-index: 1 ;
    position: absolute;
    background: #000000b1;
    padding: 2rem;
    border-radius: 10px;
}

.about .contentBx h2{
    color: white;
    font-size: 5rem;
}

.about .contentBx span{
    color: #00ccff;
}



.about .contentBx p{
    font-size: 1.6rem;
    color: white;
    text-align: justify;
    font-weight: 400;
   

}

.about .cover{
   
   position: absolute ;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;

}



.about .contentBx .btn{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1rem;
    
}

.about .contentBx .btn .cv{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #00ccff77;
    background: black;
    margin-top: 20px;
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    transition: 0.4s;

}

.about .contentBx .btn .cv:hover{
    transform: scale(1.15);
    border: 1px solid #00ccff
}


/********************************************About End********************************************************/

/********************************************Skills Start*****************************************************/
.skills
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.skills h1{
    color: white;
    font-size: 3rem;
}
.skills h1 span{
    color: #00ccff;
}

.skills .skillBx{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.skills .skillBx .bar{
    width: 100%;
    margin: 20px 0;
}

.skills .skillBx .bar .info{
    margin: 5px;

}

.skills .skillBx .bar .info span{
    font-size: 18px;
    font-weight: 500;
    color: white;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}

.skills .skillBx .bar .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: black;
    border-radius: 10px;
    transform-origin: left;
    transform: scaleX(0);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

.skills .skillBx .bar .progress-line span{
    position: absolute;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background: #00ccff;
    transform-origin: left;
    transform: scaleX(0);
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    

}

.skills .skillBx .bar .progress-line.html span{
    width: 50%;

}
.skills .skillBx .bar .progress-line.css span{
    width: 50%;

}
.skills .skillBx .bar .progress-line.javascript span{
    width: 25%;

}
.skills .skillBx .bar .progress-line.cplus span{
    width: 100%;

}
.skills .skillBx .bar .progress-line.csharp span{
    width: 75%;

}
.skills .skillBx .bar .progress-line.assembly span{
    width: 25%;

}

.skills .skillBx .bar .progress-line span::before{
    position: absolute;
    content: '';
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: white;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;

}

.skills .skillBx .bar .progress-line span::after{
    position: absolute;
    content: '';
    right: 0;
    top: -28px;
    color: black;
    font-size: 13px;
    font-weight: 1000;
    background: white;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
   

}

@keyframes showText2{
    100%{
        opacity: 1;
    }
}

.skills .skillBx .bar .progress-line.html span::after{
    content:'2 Years' ;
}

.skills .skillBx .bar .progress-line.css span::after{
    content:'2 Years' ;
}
.skills .skillBx .bar .progress-line.javascript span::after{
    content:'1 Year' ;
}
.skills .skillBx .bar .progress-line.cplus span::after{
    content:'4 Years' ;
}
.skills .skillBx .bar .progress-line.csharp span::after{
    content:'3 Years' ;
}
.skills .skillBx .bar .progress-line.assembly span::after{
    content:'1 Year' ;
}


/*********************************************Skills End*******************************************************/

/********************************************Blog Start****************************************************/

.blog{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.blog h1{
    color: white;
    font-size: 3rem;
    z-index: 3;
}

.blog h1 span{
    color: #00ccff;
}

.blog  img.cover3{
    position: absolute ;
    margin-top: 0;
    left: 0;
    width: 100%;
    height: 115vh;
    object-fit: cover;
}


.blog .cardBx{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.blog .cardBx .card{
    position: relative;
    background: #000000b1;
    width: 320px;
    height: 350px;
    padding: 40px;
    margin: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.429);
    overflow: hidden;
}

.blog .cardBx .card::before{
    position: absolute;
    content: '';
    left: calc(-100% + 3px);
    top: 0;
    width: 100%;
    height: 100%;
    background: #00ccffd3;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.blog .cardBx .card:hover::before{
    left: 0;
}

.blog .cardBx .card .blog_link{
    text-decoration: none;
}

.blog .cardBx .card div{
    position: relative;
    z-index: 2;
}


.blog .cardBx .card div h2{
    
    margin-bottom: 10px;
    font-size: 26px;
    transition: 0.5s;
    color: white;
    font-weight: 300;
    text-align: center;
    position: relative;
}
.blog .cardBx .card div h2:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;

}

.blog .cardBx .card div article{
    font-size: 15.5px;
    transition: 0.5s;
    color: white;
    font-weight: 300;
    text-align: center;
}



/********************************************Blog End*******************************************************/

/*******************************************Experience Start****************************************************/

.experience{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.experience h1{
    color: white;
    font-size: 3rem;
    font-weight: 500;
}

.experience h1 span{
    color: #00ccff;
    font-weight: 500;
}

.experience .backgroundImg{
    z-index: -3;
    width: 100%;
    height: 320vh;
    position: absolute;
}

.experience .container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}



.experience .container .box{
    position: relative;
    flex: 1 1 1 33rem;
    border-left: .1rem solid #00ccff;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.experience .container .box::before{
    position: absolute;
    content: '';
    top: 0;
    left: -1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #00ccff;
}

.experience .container .box .content{
    background: black;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

.experience .container .box .content span{
    color:white;
    font-size: 1.7rem;
    background: #00ccff;
    border-radius: 50rem;
    padding: .4rem 1rem;
}

.experience .container .box .content h3{
    font-size: 2.5rem;
    padding: .5rem 0;
    color: white;
    
}

.experience .container .box .content p{
    font-size: 1.5rem;
    color: white;
    
}

.experience .container .box .content img{
    position: relative;
    flex: auto;
    height: 5%;
    width: 5%;
    object-fit: cover;
    z-index: 1;
    float:right;
    margin-top: 0;
    margin-right: 0;
}


/****************************************Experience End********************************************************/

/****************************************Portfolio Start*******************************************************/

.portfolio{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.portfolio h1{
    color: white;
    font-size: 3rem;

}

.portfolio h1 span{
    color: #00ccff;
}

.portfolio .backgroundImg1{
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: absolute;
}
.portfolio .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 20px;
}

.portfolio .container .box{

    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 1rem solid rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 30px rgba(0,0,0,.2);

}

.portfolio .container .box img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.portfolio .container .box:hover img{
    z-index: 0;
    transform: scale(0.88) ;

}

.portfolio .container .box .h3{
    position: absolute;
    bottom: 40%;
    left: 21%;
    font-size: 3rem;
    color: #00ccff;
    text-transform: uppercase;
    font-weight: 700;
}

.portfolio .container .box .icons{
    position: absolute;
    top: 1rem;
    right: 1rem;

}

.portfolio .container .box .icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
    background: black;
    color: white;
    font-size: 1.6rem;
    line-height: 4rem;
    margin-bottom: 1rem;
    text-decoration: none;

}

.portfolio .container .box .icons a:hover{
    background: #00ccff;
}

/*****************************************Portfolio End*****************************************************/


/****************************************Design Start********************************************************/
.design{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.design h1{
    color: white;
    font-size: 3rem;

}

.design h1 span{
    color: #00ccff;
}

.design .backgroundImg2{
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: absolute;
}
.design .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 20px;
}

.design .container .box{

    flex: 1 1 30rem;
    height: 50rem;
    width: 90rem;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 1rem solid rgba(0, 0, 0, 0);
    box-shadow: 0 10px 30px rgba(0,0,0,.2);

}

.design .container .box img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.design .container .box:hover img{
    z-index: 0;
    transform: scale(0.9) ;

}

.design .container .box .h3{
    position: absolute;
    bottom: 42%;
    left: 25%;
    font-size: 4rem;
    font-weight: 900;
    color: #000000;
    text-transform: uppercase;
    background:  #00ccff;
    padding: 1rem;
    border-radius: 3rem;
    transition: 0.4s ease-in-out;
    
}

.design .container .box .h3:hover{
    transform: scale(1.1);
}




/****************************************Design End*********************************************************/
/*****************************************Contact Start*****************************************************/

.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.contact h1{
    color: white;
    font-size: 3rem;
}

.contact h1 span{
    color: #00ccff;
}

.contact .contactCover{
    position: absolute ;
    margin-top: 0;
    left: 0;
    width: 100%;
    height: 67vh;
    object-fit: cover;
    z-index: -10;
}


.contact .contactBx{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .contactBx .form{
    width: 100%;
    margin-right: 30px;
}

.contact .contactBx .form .inputBx{
    margin: 10px 0;
}

.contact .contactBx .form .inputBx p{
    color: white;
    font-size: 1.5rem;
}

.contact .contactBx .form .inputBx input,
.contact .contactBx .form .inputBx textarea{
    border:  1px solid white;
    outline: none;
    padding: 10px;
    width: 100%;
    min-height: 15px;
    font-size: 1.5rem;
}

.contact .contactBx .form .inputBx textarea{
    height: 150px;
}

.contact .contactBx .form .inputBx input[type = "submit"]{
    outline: none;
    border: none;
    background: #00ccff;
    color: white;
    width: 150px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 25px;
    letter-spacing: 2px;
    padding: 10px 25px;
    transition: 0.5s;
}

.contact .contactBx .form .inputBx input[type = "submit"]:hover{
    transform: scale(0.9);

}

.contact .map{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact .map iframe{
    width: 500px;
    height: 400px;
}

.contact .contactBx .cardBx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.contact .contactBx .cardBx .card{
    width: 50%;
    padding: 15px 25px;
    margin-right: 20px;
    text-align: center;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    position: relative;
}

.contact .contactBx .cardBx .card a{
    color: #00ccff;
    font-size: 3rem;

}
.contact .contactBx .cardBx .card p{
    color: rgb(123, 115, 115);
    text-transform: lowercase;

}

.contact .contactBx .cardBx .card:hover{
    border: 2px solid #00ccff;

}
.contact .contactBx p{
    font-size: 1.5rem;
    color: white;
    text-align: justify;
   

}

.contact .contactBx h4{
    color: white;
    font-size: 2.5rem;

}
.contact .contactBx h4 span{
    color: #00ccff;
}




/************************************************Contact End******************************************************/


/*********************************************Responsiveness Start************************************************/
@media(max-width:991px)
{
    html{
        font-size: 55%;
    }
    body{
        padding: 0;
    }

    #menu-bars
    {
        display: initial;
    }

    header
    {
        left: -120%;
    }

   header.active
   {

    left: 0%;


   }

   .about
   {
       margin: 50px 0;
   }

   .about .imgBx
   {
       position: absolute;
       top: 0;
       right: 0;
   }

   .about .contentBx
   {
       width: 100%;
       z-index: 1;
   }

   .home .contentBx
   {
       position: absolute;
       top: 40%;
       left: 15%;
   }

   .contact .contactBx
   {
      flex-direction: column;
      padding: 30px;
      margin-top: 0px;
   }

   .contact .map
   {
       margin-top: 15px;
   }

}

@media(max-width:450px)
{
    html{
        font-size: 50%;
    }

    header{
        width: 100%;
    }
}
/*********************************************Responsiveness End************************************************/


